---
title: Urban
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">Game On</h2>
		<p class="subtext editable">Hi there! I'm Denise Suter and welcome to my page. Video games are a huge passion of mine and I love transforming ideas into reality.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Me</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of my work</h3>
			<p class="editable">I love brining my imagination to life through each project. Check out the games I've made in the past and my current VR project.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/DS-logos.jpeg" width="250" style="margin-bottom: 40px;"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">About Me</h3>
			<p class="editable">Besides my passion for games, I have a lot of other interests and hobbies. Learn a little bit more about me here.</p>
		</div>
	</div>
</section>
